[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
static_resume = {ref = "dev", git = "ssh://git@github.com/pierre-24/static_resume.git"}

[dev-packages]

[requires]
python_version = "3.6"
