.truncate {
    text-overflow: ellipsis;
}

html, body {
    height: 100%;
}

h3 {
    font-size: 22px;
    font-weight: lighter;
    margin-top: 15px;
    margin-bottom: 8px;
}

#wrapper {
    min-height: calc(100% - 170px); /* Header size + footer size + margins */
    margin: 0;
    font-size: 16px;
}

#wrapper .container p, #wrapper .container ul li {
    text-align: justify;
}

footer {
    margin-top: 16px;
    min-height: 48px;
    padding: 12px 0;
    background-color: #f5f5f5;
    color: #777;
    font-size: 90%;
    text-align: center;
}

#presa-txt {
    border-right: 1px solid #ccc;
    padding-right: 16px;
}

#presa-txt h1 {
    font-size: 40px;
}

#presa-txt h1 em {
    font-size: 65%;
    color: #777;
    font-style: normal;
}

#presa-txt p {
    font-size: 18px;
}

.mail-and-twitter-small {
    display: none;
}

.mail-and-twitter-large {
    margin-bottom: 32px;
}


@media (max-width: 1200px) { /* responsive stuffs */

    #presa-txt {
        border-right: none;
        padding-right: inherit;
    }

    #contacts h4 {
        display: none;
    }

    #contacts p {
        display: inline;
        margin: inherit;
    }

    #presa-img {
        display: none;
    }

    .mail-and-twitter-large {
        display: none;
    }

    .mail-and-twitter-small {
        display: inline;
    }

    #contacts {
        text-align: right;
    }
}

#contacts .contact-link {
    font-size: 24px;
    margin-right: 8px;
}

#skills .skills-container {
    display: flex;
    flex-wrap: wrap;
}

#skills .skill {
    min-width: 175px;
    padding-right: 8px;
    align-self: flex-start;
}

#skills .bar-border {
    width: 50px;
    border: 1px solid #337ab7;
    display: inline-block;
    padding: 0;
    height: 12px;
    overflow: hidden;
    position: relative;
    margin-left: 8px;
}

#skills .bar-value {
    background: #337ab7;
    height: 12px;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#experiences .exp-border {
    border-left: 4px solid #ddd;
    padding-left: 12px;
    margin-left: 12px;
}

#experiences h3 {
    margin-left: -22px;
}

#experiences h3:before {
    border: 3px solid #337ab7;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    content: " ";
    background: white;
}