{% extends "base.html" %}

{% block navbar %}
    <li class="nav-item"><a class="nav-link" href="#employment">Current status</a></li>
    <li class="nav-item"><a class="nav-link" href="#publications">Publications</a></li>
    <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
    <li class="nav-item"><a class="nav-link" href="#interests">Interests</a></li>
    <li class="nav-item"><a class="nav-link" href="#pathway">Experiences</a></li>
{% endblock %}

{% block employment %}
    <h2 id="employment">Current status</h2>
    {{ employment }}
{% endblock %}

{% block interests %}
    <h2 id="interests">Activities and interests</h2>
    {{ interests }}
{% endblock %}

{% block publications %}
    {% if publications %}
    <h2 id="publications">My publications</h2>
        <p class="pubs-bibtex">Donwload this bibliography: <a href="./bibliography.bib">BibTeX format</a>.</p>
    {% include "publications.inc.html" %}
    {% endif %}
{% endblock %}

{% block skills %}
    {% if skills %}
    <h2 id="skills">My skills</h2>
    {% include "skills.inc.html" %}
    {% endif %}
{% endblock %}

{% block pathway %}
    {% if pathway %}
    <h2 id="pathway">My experiences</h2>
    {% include "pathway.inc.html" %}
    {% endif %}
{% endblock %}
